{% extends "base.html" %}

{% block content %}
    <div class="answer-block">
        <p><strong>Фамилия:</strong> {{ surname }}</p>
        <p><strong>Имя:</strong> {{ name }}</p>
        <p><strong>Образование:</strong> {{ education }}</p>
        <p><strong>Профессия:</strong> {{ profession }}</p>
        <p><strong>Пол:</strong> {{ sex }}</p>
        <p><strong>Мотивация:</strong> {{ motivation }}</p>
        <p><strong>Готовы остаться на Марсе?</strong> {{ ready }}</p>
    </div>
{% endblock %}