{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
    {% if list_type == 'ol' %}
        <ol>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
        </ol>
    {% elif list_type == 'ul' %}
        <ul>
        {% for prof in professions %}
            <li>{{ prof }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Неверный параметр списка! Используйте 'ol' или 'ul'.
        </div>
    {% endif %}
{% endblock %}